<html>
  <head>
    <script src="https://cdn.tailwindcss.com"></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
      integrity="sha512-..."
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      rel="stylesheet"
      href="https://microsoft.github.io/vscode-codicons/dist/codicon.css"
    />
  </head>
  <body class="bg-gray-900 text-white p-6">
    <div class="grid grid-cols-2 gap-4">
      <!-- Info general -->
      <div class="">
        <h2 class="text-xl font-bold">
          {{translate.workspace}}:
          <span class="text-green-400">{{workspaceName}}</span>
        </h2>

        <p class="text-gray-400 mb-4 font-mono">{{translate.id}}:
          {{workspaceId}}</p>

        <ul class="mb-4">
          <li>
            <b>{{translate.status}}:</b>
            <span class="{{statusColor status}}">
              {{capitalize status}}
              <i class="codicon {{statusCodicon status}}"></i>
            </span>
          </li>
          <li><b>{{translate.updated}}:</b> {{updatedAt}}</li>
          <li><b>{{translate.version}}:</b> {{terraformVersion}}</li>
          <li><b>{{translate.message}}:</b> {{msg}}</li>
          <li><b>RunID:</b>
            <a
              href="https://app.terraform.io/app/{{organization}}/workspaces/{{workspaceName}}/runs/{{runId}}"
              target="_blank"
              class="font-mono text-indigo-300 hover:border hover:border-indigo-300 hover:p-1 hover:rounded"
            >{{runId}}</a>
          </li>
        </ul>
      </div>

      <!-- Info secondary -->
      <div class="pt-4 pl-1 bg-gray-800 rounded-lg border border-gray-700">
        {{#if gitInfo}}
          <h3 class="text-lg text-gray-300 font-bold mb-4 ml-2">GitHub
            <span><i class="fa-brands fa-github"></i></span></h3>
          <div class="flex flex-row w-full justify-start">
            <div class="w-3/5">
              <table class="table-fixed text-sm text-gray-300 w-full">
                <tbody>
                  <tr>
                    <td
                      class="w-16 font-bold pr-2 align-top text-right"
                    >Config</td>
                    <td>From GitHub by {{gitInfo.sender-username}}</td>
                  </tr>
                  <tr>
                    <td class="font-bold pr-2 align-top text-right">Branch</td>
                    <td>{{gitInfo.branch}}</td>
                  </tr>
                  <tr>
                    <td class="font-bold pr-2 align-top text-right">Commit</td>
                    <td>
                      <a
                        href="{{gitInfo.commit-url}}"
                        class="text-indigo-400 hover:underline"
                      >
                        {{slice gitInfo.commit-sha 0 7}}
                      </a>
                      -
                      {{gitInfo.commit-message}}
                    </td>
                  </tr>
                  <tr>
                    <td class="font-bold pr-2 align-top text-right">Repo</td>
                    <td>
                      <a
                        href="{{gitInfo.clone-url}}"
                        class="text-indigo-400 hover:underline"
                      >
                        {{gitInfo.identifier}}
                      </a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="w-2/5 flex justify-center h-full items-center">
              <a
                href="{{gitInfo.sender-html-url}}"
                target="_blank"
                class="text-indigo-400 hover:underline flex items-center gap-2"
              >
                <img
                  src="{{gitInfo.sender-avatar-url}}"
                  class="w-20 h-20 rounded-full"
                />
              </a>
            </div>
          </div>
        {{else}}
          <p class="text-gray-500">No hay datos de GitHub disponibles.</p>
        {{/if}}
      </div>
    </div>

    {{#if canApply}}
      <button
        onclick="apply()"
        class="bg-green-600 hover:bg-green-700 px-4 py-2 rounded"
      >{{translate.confirmApply}}</button>
    {{else}}
      <p class="text-gray-400">{{translate.noManualApply}}</p>
    {{/if}}

    <h3 class="mt-6 mb-2 text-lg font-bold">{{translate.planChanges}}</h3>

    {{#if changesTable.length}}
      <p class="text-sm text-gray-300 mb-2">
        📝
        {{add}}
        {{translate.toAdd}},
        {{change}}
        {{translate.toChange}},
        <span class="text-rose-600">{{destroy}} {{translate.toDestroy}}</span>
      </p>

      <table class="w-full text-sm text-left mt-4">
        <thead class="text-gray-300 border-b border-gray-600">
          <tr>
            <th class="py-1">{{translate.action}}</th>
            <th class="py-1">{{translate.resource}}</th>
            <th class="py-1 text-center">{{translate.provider}}</th>
          </tr>
        </thead>
        <tbody class="text-gray-200">
          {{#each changesTable}}
            <tr class="border-b border-gray-800">
              <td class="py-1 text-{{actionColor action}}-400">{{action}}</td>
              <td class="py-1">{{address}}</td>
              <td class="py-1 flex items-center gap-2 justify-center">
                {{#if providerImg}}
                  <img
                    src="{{providerImg}}"
                    alt="Provider"
                    width="28"
                    height="28"
                    class="bg-white rounded-full p-1"
                  />
                {{else}}
                  {{provider}}
                {{/if}}
              </td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    {{else}}
      {{#if blockingRunId}}
        <p class="text-yellow-400 mt-2">{{translate.pendingRun}}
          <code
            class="text-white font-mono font-bold"
          >{{blockingRunId}}</code></p>

      {{else}}
        <p class="text-gray-400 mt-2">{{translate.noChanges}}</p>
      {{/if}}
    {{/if}}

    <script>
      const vscode = acquireVsCodeApi(); function apply() { vscode.postMessage({
      type: 'apply', runId: "{{runId}}" }); }
    </script>
  </body>
</html>