<html>
  <head>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body class="bg-gray-900 text-white p-6">
    <div class="grid grid-cols-2 gap-4">
      <!-- Info general -->
      <div>
        <h2 class="text-xl font-bold">
          {{translate.workspace}}:
          <span class="text-green-400">{{workspaceName}}</span>
        </h2>

        <p class="text-gray-400 mb-4 font-mono">{{translate.id}}:
          {{workspaceId}}</p>

        <ul class="mb-4">
          <li><b>{{translate.status}}:</b>
            <span class="text-indigo-400">{{capitalize status}}</span></li>
          <li><b>{{translate.updated}}:</b> {{updatedAt}}</li>
          <li><b>{{translate.version}}:</b> {{terraformVersion}}</li>
          <li><b>{{translate.message}}:</b> {{msg}}</li>
          <li><b>RunID:</b>
            <a
              href="https://app.terraform.io/app/{{organization}}/workspaces/{{workspaceName}}/runs/{{runId}}"
              target="_blank"
              class="font-mono text-indigo-300 hover:border hover:border-indigo-300 hover:p-1 hover:rounded"
            >{{runId}}</a>
          </li>
        </ul>
      </div>

      <!-- GitHub Info -->
      <div class="p-4 bg-gray-800 rounded-lg border border-gray-700">
        <h3 class="text-sm text-gray-300 font-bold mb-2">GitHub</h3>
        {{#if gitInfo}}
          <ul class="text-sm text-gray-400">
            <li><b>Rama:</b> {{gitInfo.branch}}</li>
            <li><b>Commit:</b>
              <a
                href="{{gitInfo.commit-url}}"
                class="text-indigo-400 hover:underline"
              >
                {{slice gitInfo.commit-sha 0 7}}
                -
                {{gitInfo.commit-message}}
              </a>
            </li>
            <li><b>Autor:</b>
              <a
                href="{{gitInfo.sender-html-url}}"
                target="_blank"
                class="text-indigo-400 hover:underline flex items-center gap-2"
              >
                <img
                  src="{{gitInfo.sender-avatar-url}}"
                  class="w-6 h-6 rounded-full"
                />
                {{gitInfo.sender-username}}
              </a>
            </li>
          </ul>
        {{else}}
          <p class="text-gray-500">No hay datos de GitHub disponibles.</p>
        {{/if}}
      </div>
    </div>

    {{#if canApply}}
      <button
        onclick="apply()"
        class="bg-green-600 hover:bg-green-700 px-4 py-2 rounded"
      >{{translate.confirmApply}}</button>
    {{else}}
      <p class="text-gray-400">{{translate.noManualApply}}</p>
    {{/if}}

    <h3 class="mt-6 mb-2 text-lg font-bold">{{translate.planChanges}}</h3>

    {{#if changesTable.length}}
      <p class="text-sm text-gray-300 mb-2">
        📝
        {{add}}
        {{translate.toAdd}},
        {{change}}
        {{translate.toChange}},
        <span class="text-rose-600">{{destroy}} {{translate.toDestroy}}</span>
      </p>

      <table class="w-full text-sm text-left mt-4">
        <thead class="text-gray-300 border-b border-gray-600">
          <tr>
            <th class="py-1">{{translate.action}}</th>
            <th class="py-1">{{translate.resource}}</th>
            <th class="py-1 text-center">{{translate.provider}}</th>
          </tr>
        </thead>
        <tbody class="text-gray-200">
          {{#each changesTable}}
            <tr class="border-b border-gray-800">
              <td class="py-1 text-{{actionColor action}}-400">{{action}}</td>
              <td class="py-1">{{address}}</td>
              <td class="py-1 flex items-center gap-2 justify-center">
                {{#if providerImg}}
                  <img
                    src="{{providerImg}}"
                    alt="Provider"
                    width="28"
                    height="28"
                    class="bg-white rounded-full p-1"
                  />
                {{else}}
                  {{provider}}
                {{/if}}
              </td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    {{else}}
      <p class="text-gray-400 mt-2">{{translate.noChanges}}</p>
    {{/if}}

    <script>
      const vscode = acquireVsCodeApi(); function apply() { vscode.postMessage({
      type: 'apply', runId: "{{runId}}" }); }
    </script>
  </body>
</html>